# ----------------------------------------
# Python
# ----------------------------------------
__pycache__/
*.py[cod]
*.pyo

# ----------------------------------------
# Virtual Environment
# ----------------------------------------
venv/
.venv/
env/

# ----------------------------------------
# Environment Variables
# ----------------------------------------
.env

# ----------------------------------------
# IDE
# ----------------------------------------
.vscode/
.idea/

# ----------------------------------------
# macOS
# ----------------------------------------
.DS_Store

# ----------------------------------------
# Pytest
# ----------------------------------------
.pytest_cache/

# ----------------------------------------
# Logs
# ----------------------------------------
*.log

# ----------------------------------------
# Build
# ----------------------------------------
build/
dist/
*.egg-info/

# ----------------------------------------
# Alembic Cache
# ----------------------------------------
alembic/versions/*.pyc